@model Laboratorio.Models.Inventario

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Maquina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Maquina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funciona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funciona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relatorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relatorio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_Inventario" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
