@model Laboratorio.Models.Inventario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Maquina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Maquina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funciona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funciona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relatorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relatorio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Inventario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
